include LICENSE
include README.md
include README.ru.md
include CHANGELOG.md
include COOKIES_GUIDE.md
include COOKIES_GUIDE.ru.md
include fragment_api/py.typed
recursive-include fragment_api *.py
recursive-include examples *.py *.js *.go *.php
recursive-include docs *.md
recursive-include assets *.svg
recursive-include assets *.png
